/* -------注册整体布局------- */
.register_area {
    padding: 0 15%;
    margin-top: 0.5%;
    background: white;
}

/* 注册区域 */
.register_area_content {
    margin-top: 8%;
    padding-bottom: 2%;
    margin-bottom: 5%;
    background-color: white;
    font-weight: bold;
    border: 1px solid black;
}

.register_area_top {
    text-align: center;
    color: white;
    letter-spacing: 10px;
    font-size: 2em;
    background: linear-gradient(to bottom, #26262e 0, #46464c 100%);
    padding: 2%;
}

/* 表单每行 */
.register_area_formitem {
    font-size: 1.2em;
    margin-left: 31%;
    margin-right: 31%;
    margin-top: 1.25%;
}

.register_label {
    margin-bottom: 1%;
}

.register_input {
    margin-bottom: 2%;
    /* font-size: 1em; */
}

/* 提交区域 */
.register_submit {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
}

.register_btn {
    width: 21.5%;
    /* height: 5%; */
    margin-left: 19%;
    margin-top: 2%;
    margin-bottom: 2%;
    background: #f12b24 !important;
    color: white !important;
    border: #f12b24 1px solid !important;
}


/* 登录区域 */
.login_area_content {
    background-color: white;
    font-weight: bold;
    border: 1px solid black;
    padding-bottom: 10%;
    margin-top: 10%;
    margin-bottom: 3%;
}

.login_area_formitem {
    font-size: 1.2em;
    margin-left: 31%;
    margin-right: 31%;
    margin-top: 1.25%;
}

.login_area_content2 {
    margin-top: 5%;
}
/* 登录提示框 */
.ant-form-explain{
    margin-left: 40%;
    letter-spacing: 0.5em;
}