/* 内容区的大小布局 */
.contentArea1 {
    position: relative;
    padding: 0 0;
    margin-top: 5%;
    height: 100%;
    font-weight: 600;
}

/* 头部区域 */
.food_top_area img {
    width: 100%;
    height: 5.5%;
}

/* 头部大标题 */
.food_big_title {
    position: absolute;
    color: white;
    margin-left: 35%;
    margin-top: -16.5%;
    z-index: 100;
    font-size: 3em;
}

.food_search {
    position: absolute;
    margin-left: 25%;
    margin-top: -9.5%;
    width: 50%;
    height: 10%;
}

.food_search .ant-btn-primary {
    background-color: red !important;
    border-color: red !important;
}

/* 内容区整体 */
.food_sort {
    background: #fff;
}

.food_sort_top {
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 2%; */
    padding: 1.5%;
}

.food_sort_nav {
    margin-left: -2.5%;
}

/* 内容区标题 */
.food_sort_title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 8%;
    margin-top: 1%;
}

.food_sort_title::before {
    content: '';
    background: rgb(218, 0, 66);
    width: 5px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

/* 内容区 */
.food_sort_content {
    /* margin-top: 1%; */
    margin-left: 3%;
    padding: 2%;
    /* border: 1px solid red; */
}

.food_sort_item_title {
    /* margin-top: 2%; */
    font-size: 1.5em;
    /* color: black; */
}

.food_sort_item {
    color: gray;
    opacity: 0.8;
    margin-top: 3%;
    margin-bottom: 5%;
}

/* ---------食物列表页------- */
.food_sortlist_top {
    /* margin-left: 2%; */
    /* margin-right: 8%; */
    /* margin-top: 2%; */
    padding: 1.5%;
}

.food_sortlist_content {
    margin-left: 11%;
}

.food_sortlist_content_left {
    border: 1px solid gainsboro;
    padding: 2%;
    margin-bottom: 2%;
    /* padding-left: 0;
    padding-right: 0; */
}

.food_sortlist_content_left_title {
    /* border-bottom: 1px solid grey; */
    /* border-width: 120%; */
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}

.food_sortlist_content_left_list:hover {
    /* border: 1px solid rgb(224, 224, 224); */
    background-color: rgb(250, 250, 250);
}

.food_sortlist_content_right {
    color: #3c62db;
    border: 1px solid rgb(224, 224, 224);
    padding: 2%;
}

.food_sortlist_content_right_title {
    color: black;
    font-size: 1em;
    font-weight: bold;
}

/* ---------食物详情页-----------*/
.food_detail {
    background: #fff;
}

/*食物页头部面包屑*/
.food_detail_top {
    margin-left: 5%;
    margin-right: 8%;
    padding: 1.5%;
}

/* 内容区 */
.food_detail_content {
    font-weight: 500;
    margin-left: 15%;
    margin-right: 15%;
}

/* 内容区头部 */
.food_detail_content_top {
    padding: 2%;
    border: 1px solid #eee;
}

/* 内容区头部左侧 */
.food_detail_content_top_left img {
    width: 90%;
    height: 40%;
}

/* 内容区右侧标题 */
.food_detail_content_top_message_title {
    padding-bottom: 1%;
}

/* 内容区右侧参数 */
.food_detail_content_top_message_param {
    color: red;
    font-size: 1.5em;
    text-align: center;
}

/* 内容区右侧参数名 */
.food_detail_content_top_message_param_name {
    font-size: 1em;
    text-align: center;
}

.food_detail_content_top_message_bottom_title {
    margin-top: 2%;
}

/* 内容头部食物简介 */
.food_detail_content_top_description {
    border-radius: 10px;
    background-color: #f2f2f2;
    color: #999;
    padding: 2%;
    margin: 2%;
    margin-bottom: 0;
}

/* 内容中部整体 */
.food_detail_content_middle {
    margin-top: 2%;
}

/* 内容中部左,右侧 */
.food_detail_content_middle_left,
.food_detail_content_middle_right {
    font-size: 1.3em;
    letter-spacing: 0.8em;
    text-align: center;
}

/* 内容中部左侧 */
.food_detail_content_middle_left_content {
    background-color: rgb(242, 242, 242);
    padding: 2%;
}

.food_detail_content_middle_left_content li {
    line-height: 2em;
}

/* 内容中部右侧 */
.food_detail_content_middle_right_content {
    background-color: rgb(242, 242, 242);
    padding: 2%;
    padding-bottom: 10%;
}

.food_detail_content_middle_right_content_left,
.food_detail_content_middle_right_content_right {
    /* margin-left: 10%; */
    margin-top: 10%;
    text-align: center;
}

.food_detail_content_middle_right_content_left1,
.food_detail_content_middle_right_content_right1 {
    /* margin-left: 3%; */
    margin-top: 6%;
    text-align: center;
}

/* 添加食物 */
.food_detail_three {
    background-color: white;
    margin-top: 1%;
    padding: 2%;
}

.food_detail_three .add_btn {
    width: 20%;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* 相关食物部分 */
.food_detail_content_bottom_title {
    margin-top: 2%;
    margin-left: 1%;
}

.food_detail_content_bottom_content {
    margin-top: 2%;
    margin-bottom: 2%;
}

.food_detail_content_bottom_content img {
    width: 80%;
}

.food_detail_content_bottom_content_name {
    margin-left: 25%;
    letter-spacing: 1.2em;
}