/* 内容区的大小布局 */
.contentArea1 {
    position: relative;
    padding: 0 0;
    margin-top: 5%;
    height: 100%;
    font-weight: 600;
}

/* 头部区域 */
.food_top_area img {
    width: 100%;
    height: 5.5%;
}

/* 头部大标题 */
.food_big_title {
    position: absolute;
    color: white;
    margin-left: 35%;
    margin-top: -16.5%;
    z-index: 100;
    font-size: 3em;
}

.food_search {
    position: absolute;
    margin-left: 25%;
    margin-top: -9.5%;
    width: 50%;
    height: 10%;
}

.food_search .ant-btn-primary {
    background-color: red !important;
    border-color: red !important;
}

/* 内容区整体 */
.food_sort {
    background: #fff;
}

.food_sort_top {
    margin-left: 8%;
    margin-right: 8%;
    /* margin-top: 2%; */
    padding: 1.5%;
}

/* 内容区标题 */
.food_sort_title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 8%;
}

.food_sort_title::before {
    content: '';
    background: rgb(218, 0, 66);
    width: 5px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

/* 内容区 */
.food_sort_content {
    margin-top: 4.5%;
    padding: 2%;
    border: 1px solid red;
}

.food_sort_item {
    color: gray;
    opacity: 0.8;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* 食物列表 */
.food_sortlist_top {
    /* margin-left: 2%; */
    /* margin-right: 8%; */
    /* margin-top: 2%; */
    padding: 1.5%;
}

.food_sortlist_content {
    margin-left: 11%;
}

.food_sortlist_content_left {
    border: 1px solid gainsboro;
    padding: 2%;
    /* padding-left: 0;
    padding-right: 0; */
}

.food_sortlist_content_left_title {
    /* border-bottom: 1px solid grey; */
    /* border-width: 120%; */
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}

.food_sortlist_content_left_list:hover {
    border: 1px solid rgb(224, 224, 224);
    /* opacity: 0.2; */
}

.food_sortlist_content_right {
    /* background-color: white; */
    color: #3c62db;
    border: 1px solid rgb(224, 224, 224);
    padding: 2%;
}

.food_sortlist_content_right_title {
    color: black;
    font-size: 1em;
    font-weight: bold;
}