/* 内容区的大小布局 */
.contentArea {
    padding: 0 4%;
    /* margin-top: 64px; */
    margin-top: 6%;
    height: 100%;
    font-weight: 600;
}
/* 锻炼计划列表 */
.planlist_title {
    font-size: 1.5em;
    background-color: white;
    border-bottom: 1px solid gainsboro;
    padding: 2%;
}

.planlist_content {
    background-color: white;
    padding: 2%;
}
/* 列表标题 */
.ant-list-vertical .ant-list-item-meta-title {
    font-size: 20px !important;
}

/* 锻炼计划详情 */
/* 头部 */
/* .plan_detail_head{
    margin-left: 1%;
    margin-right: 1%;;
} */
.plan_detail_head img{
    width: 100%;
    height: 100%;
}
/* 计划介绍 */
.plan_detail_first{
    background-color: white;
    margin-top: 1%;
    padding: 2%;
}
.plan_detail_first_title{
    font-size: 1.5em;
}

.plan_detail_third{
    background-color: white;
    margin-top: 1%;
    padding: 1%;
}
/* 下划线 */
.plan_underline{
    color: gray;
    opacity: 0.2;
}

/* 添加计划 */
.plan_detail_four{
    background-color: white;
    margin-top: 1%;
    padding: 2%;
    /* height: 20%; */
}
.plan_detail_four .add_btn{
    width: 25%;
    /* height: 5%; */
    margin-left: 17%;
    margin-top: 2%;
    margin-bottom: 2%;
}