/* -------健身工具主页样式------ */
.implement_contentarea {
  padding:0  4% 4% 4%;
  margin-top: 4%;
  background: white;
}

/* 最外层区 */
.implement_body {
  background: #fff;
  margin-left: 8%;
  margin-right: 8%;
  padding: 1.5%;
}

/* 大标题 */
.implement_title {
  font-size: 20px;
  font-weight: bold;
}

/* 标题前面的竖线 */
.implement_title::before {
  content: '';
  background: rgb(218, 0, 66);
  width: 5px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

/* 列表区域 */
.implement_listarea {
  margin-top: 1%;
  /* margin-left: -5%; */
}

.implement_item {
  margin-top: 6%;
}

/* 小标题 */
.implement_topic {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
}

.introduce {
  background: rgb(241, 241, 241);
  color: black;
  padding: 3%;
}

/* 下划线 */
.under_line {
  background-color: rgba(193, 193, 193, 0.5);
  height: 1px;
  border: none;
}

/* ----------BMI组件样式---------- */
.implement_bmi {
  margin: 3% 10% 2% 9.5%;
  padding: 2%;
  border: 1px solid rgb(217, 217, 217);
  background: white;
}

/* 大标题 */
.implement_bmi_title {
  font-weight: bold;
  font-size: 1.5em;
}

.implement_bmi_content {
  background: rgb(244, 244, 244);
  font-weight: 600;
  padding: 3%;
  margin-top: 1%;
}

/* 提示信息 */
.implement_bmi_prompt {
  font-weight: bold;
  font-size: 1.2em;
}

/* 输入框 */
.implement_bmi_input {
  font-weight: bold;
  font-size: 1.1em;
}
.implement_bmi_input_name{
  margin-top: 12%;
  margin-left: 20%;
}
.implement_bmi_input_out{
  margin-top: 5%;
}
.implement_bmi_input_place {
  border: 1px solid #d4d4d4;
}

/* 提交按钮及重置按钮的位置 */
.implement_bmi_input {
  margin-top: 2%;
}

.implement_bmi_summit {
  margin-top: 5%;
}

/* 提交按钮及重置按钮的样式 */
.implement_bmi_submit_btn {
  background-color: rgb(253, 243, 243) !important;
  color: #dc5454 !important;
  border: 1px solid #ef9494 !important;
  cursor: pointer;
  width: 80%;
}

/* 结果区域 */
.implement_bmi_extend_content {
  background: rgb(244, 244, 244);
  font-weight: 600;
  padding: 3%;
  margin-top: 3%;
}