.implement_body {
  background: #fff;
  margin-left: 8%;
  margin-right: 8%;
  padding: 1.5%;
}
.implement_title{
  font-size: 20px;
  font-weight: bold;
}
.implement_title::before{
  content: '';
  background:rgb(218,0,66);
  width: 5px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}
.gutter-left {
  color: black;
  width: 20px 20px;
  padding: 5px 0;
}

/* .gutter-right {
  display: inline-block;
  background: #00A0E9;
  color: black;
  padding: 5px 0;
} */

.introduce {
  background: rgb(241, 241, 241);
  color: black;
  padding:2%;
}

/* BMI组件样式 */
