/* 导航头部样式 */
.navHead {
    position: fixed;
    z-index: 1;
    width: 100%;
    font-weight: bold;
    background-color: rgb(32, 32, 34)
}

.logo {
    position: fixed;
    top: 0.05%;
    color: rgb(149, 157, 165);
    font-size: 20px;
    z-Index: 100;
}

/* 登录注册链接的样式 */
.login,
.register,
.logout {
    position: fixed;
    top: 0.05%;
    color: rgb(149, 157, 165);
    font-size: 14px;
    z-Index: 100;
}

.login {
    right: 9%;
}

.register {
    right: 6%;
}

.logout {
    right: 4%;
}

.logout:hover {
    cursor: pointer;
}

.loginRegister_font {
    color: rgb(149, 157, 165);
}

.loginRegister_font:hover {
    color: white;
    text-decoration: none;
}


.antd_input2 {
    margin-top: -2.7%;
    background-color: rgb(45, 44, 46);
    height: 70px;
    width: 80%;
}

/* 搜索框样式 */
.antd_input2 .ant-input {
    color: #666;
    background-color: rgba(31, 30, 32);
    border: 1px solid #29282a !important;
    border-radius: 5px;
    box-shadow: 0 !important;
    margin-left: 15%;
    margin-top: 6%;
    width: 70%;
}

/* 搜索按钮样式 */
.antd_input2 .ant-btn-primary {
    background-color: #252326;
    border: 1px solid #29282a !important;
    box-shadow: 0 !important;
    margin-left: -110%;
    margin-top: 42%;
}

.antd_input2 .ant-btn-primary:hover,
.antd_input2 .ant-btn-primary:focus {
    background-color: rgb(155, 155, 155) !important;
}

/* 左侧折叠样式 */
.left_nav_collapse {
    width: 80%;
    /* background-color: rgb(198, 58, 61) !important; */
    border: none !important;
    border-radius: 0 !important;
}

/* 设置颜色变化 */
.ant-collapse-header {
    background-color: rgb(37, 36, 37);
}

.ant-collapse-item-active .ant-collapse-header {
    background-color: rgb(198, 58, 61);
}

/* .ant-collapse-item .ant-collapse-item-active  {
    background-color: rgb(198, 58, 61);
} */

/* plan_panel  */
/* .plan_panel {
    background-color: rgb(198, 58, 61);
}

.exercise_panel {
    background-color: rgb(37, 36, 37);
} */

.left_nav_collapse_panel .ant-collapse-header,
.plan_panel .ant-collapse-header,
.exercise_panel .ant-collapse-header {
    color: white !important;
}

/* 设置panel的边框弧度 */
.ant-collapse>.ant-collapse-item:last-child,
.ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
    border-radius: 0 0 0 0 !important;
}

.ant-collapse>.ant-collapse-item,
.ant-collapse-content {
    border: 0 !important;
}

/* 按钮显示区样式 */
.left_nav_collapse_panel .ant-collapse-content-box,
.plan_panel .ant-collapse-content-box,
.exercise_panel .ant-collapse-content-box {
    background-color: rgb(45, 44, 46);
}

/* 左侧样式按钮 */
.left_nav {
    margin-top: 2%;
    font-weight: bold;
    color: #b2b2b2;

}

.left_nav_title {
    font-size: 1.2em;
    border-bottom: 1px solid #343335;
}

.left_nav .ant-btn-sm {
    font-size: 1em;
    color: #b2b2b2;
    background-color: #3f3f3f;
    border: 1px solid #3f3f3f !important;
    height: 2em;
    width: 5em;
    font-weight: 450;
    /* padding: 1%; */
    margin-top: 2%;
    margin-left: 2%;
}

.left_nav .ant-btn-sm:hover {
    color: white;
    border: 1px solid #3f3f3f;
}

/* .left_nav .ant-btn-sm::selection {
    background-color: yellow !important;
    color: #fff;
} */
.ex_implement_active,
.ex_body_active,
.ex_difficult_active,
.pl_aim_active,
.pl_day_active,
.pl_implement_active,
.pl_body_active {
    background-color: #c83838 !important;
    color: white !important;
}

@font-face {
    font-family: 'iconfont';
    /* project id 968179 */
    src: url('//at.alicdn.com/t/font_968179_erqe6eaccb5.eot');
    src: url('//at.alicdn.com/t/font_968179_erqe6eaccb5.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_968179_erqe6eaccb5.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_968179_erqe6eaccb5.woff') format('woff'),
        url('//at.alicdn.com/t/font_968179_erqe6eaccb5.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_968179_erqe6eaccb5.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}