/* 导航头部样式 */
.navHead {
    position: fixed;
    z-index: 1;
    width: 100%;
    font-weight: bold;
    background-color: rgb(32, 32, 34)
}

/* 登录注册链接的样式 */
.login,
.register {
    position: fixed;
    top: 0.05%;
    color: rgb(149, 157, 165);
    font-size: 14px;
    z-Index: 100;
}

.login {
    right: 9%;
}

.register {
    right: 6%;
}

.loginRegister_font {
    color: rgb(149, 157, 165);
}

.loginRegister_font:hover {
    color: white;
    text-decoration: none;
}


.antd_input2 {
    margin-top: -2.7%;
    background-color: rgb(45, 44, 46);
    height: 70px;
    width: 80%;
}

/* 搜索框样式 */
.antd_input2 .ant-input {
    color: #666;
    background-color: rgba(31, 30, 32);
    border: 1px solid #29282a !important;
    border-radius: 5px;
    box-shadow: 0 !important;
    margin-left: 12%;
    margin-top: 6%;
}

/* 搜索按钮样式 */
.antd_input2 .ant-btn-primary {
    background-color: #252326;
    border: 1px solid #29282a !important;
    box-shadow: 0 !important;
    margin-left: 75%;
    margin-top: 36%;
}

.antd_input2 .ant-btn-primary:hover,
.antd_input2 .ant-btn-primary:focus {
    background-color: rgb(155, 155, 155) !important;
}

/* 左侧折叠样式 */
.left_nav_collapse {
    width: 80%;
    background-color: rgb(198, 58, 61) !important;
    border: none !important;
    border-radius: 0 !important;

}

.left_nav_collapse_panel .ant-collapse-header {
    color: white !important;
}

/* 左侧样式按钮 */
.left_nav {
    margin-top: 1%;
}

.left_nav .ant-btn-sm {
    font-size: 1em;
    height: 2em;
    width: 5em;
    margin-left: 2%;
}