/* 内容区整体布局 */
.personal_content {
    padding: 0 4%;
    margin-top: 6%;
    height: 100%;
    font-weight: 600;
}

/* 内容区导航面包屑 */
.personal_content_navbread {
    margin-left: -12%;
}

.personal_content_main {
    margin-top: 2%;
    /* border: 1px solid red; */
}

/* 公共计划 */
.personal_public_plan {
    border: 1px solid gainsboro;
    border-radius: 6px;
    padding: 2%;
}

.personal_public_plan_title {
    margin-top: 1%;
    color: gray;
    font-size: 1.5em;
    /* margin-bottom: 2%; */
    border-bottom: 1px solid gainsboro;
}

/* 定制计划 */
.personal_customize_plan {
    /* border: 1px solid green; */
    padding: 2%;
}

/* 个人信息 */
.personal_message {
    /* border: 1px solid orange; */
    position: relative;
    /* padding: 2%; */
}

.personal_message_top img {
    width: 100%;
}

/*头像*/
.personal_message_headpicture {
    position: absolute;
    color: white;
    /* border: 1px solid red; */
    width: 25%;
    height: 25%;
    margin-left: 10%;
    margin-top: -35%;
}

/* 昵称 */
.personal_message_name {
    position: absolute;
    color: white;
    font-size: 2em;
    margin-left: 58%;
    margin-top: -27%;
}

.personal_message_modifymessage {
    position: absolute;
    background-color: black;
    color: white;
    margin-left: 80%;
    margin-top: -10%;
}

/* 下方内容区 */
.personal_message_content {
    background-color: white;
    color: #666;
    /* border: 1px solid gray; */
    height: 50%;
    padding: 2%;
}

/* 内容区标题 */
.personal_message_content_title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    letter-spacing: 10px;
    text-align: center;
}

/* 内容区内容 */
.personal_message_content_detail01 {
    font-size: 1.2em;
    margin-left: 5%;
    margin-top: 1%;
}

/* 内容参数样式 */
.personal_message_content_detail01_params {
    margin-left: 2%;
}

/* 打卡天数样式 */
.personal_message_setcard {
    font-size: 1.2em;
    background-color: white;
    /* border: 1px solid yellow; */
    padding: 2%;
    margin-top: 1%;
}

.personal_message_setcard_title {
    text-align: center;
    font-size: 1.2em;
}

.personal_message_setcard_days {
    color: red;
}

.personal_message_setcard_add_btn {
    font-weight: bold;
    width: 25%;
    margin: 2% 37.5%;
}